html,
body {
    height: 100%;
    margin: 0;
    font-family: 'Consolas', 'sans-serif';
    color: #424242;
    overflow: hidden;
}

.display {
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.wrap {
    display: table-cell;
    vertical-align: middle;
}

p {
    font-size: 40vmin;
    text-align: center;
    margin: 0;
}

#key {
    display: inline-block;
    color: #5E5E5E;
    font: bold 20px arial;
    text-decoration: none;
    text-align: center;
    margin: 20px auto;
    padding: 15px 20px;
    background: #EFF0F2;
    border-radius: 4px;
    border-top: 1px solid #F5F5F5;
    box-shadow: inset 0 0 25px #E8E8E8, 0 1px 0 #C3C3C3, 0 2px 0 #C9C9C9, 0 2px 3px #333;
}

#history {
    position: fixed;
    right: -20px;
    padding-right: 20px;
    top: 0;
    overflow-y: scroll;
    height: 100%;
    width: 300px;
    text-align: right
}

#history .key {
    display: inline-block;
    color: #5E5E5E;
    font: bold 15px arial;
    text-decoration: none;
    text-align: center;
    margin: 10px;
    padding: 10px 15px;
    background: #EFF0F2;
    border-radius: 4px;
    border-top: 1px solid #F5F5F5;
    box-shadow: inset 0 0 25px #E8E8E8, 0 1px 0 #C3C3C3, 0 2px 0 #C9C9C9, 0 2px 3px #333;
    user-select: none
}

#case {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 300px;
    border: none;
    outline: none;
    opacity: 0;
    transition-duration: .3s;
    background-color: rgba(255,255,255,0.01)
}

#case:hover {
    opacity: 1;
}

#copy {
    position: fixed;
    bottom: 5px;
    right: 5px;
    color: #5E5E5E;
    font: bold 15px arial;
    text-decoration: none;
    text-align: center;
    margin: 10px;
    padding: 10px 15px;
    background: #EFF0F2;
    border-radius: 4px;
    border-top: 1px solid #F5F5F5;
    box-shadow: inset 0 0 25px #E8E8E8, 0 1px 0 #C3C3C3, 0 2px 0 #C9C9C9, 0 2px 3px #333;
    cursor: pointer;
    user-select: none;
    z-index: 20
}